<launch>

<!-- LOAD PARAMETERS -->

<param name="use_sim_time" value="True"/>

<!-- Load the planner's config.yaml file and robot_0.yaml file -->
<include file="$(find ramp_launch)/launch/planner_parameters.launch" />


<!-- START NODES -->

<!-- Costmap is started in separate launch file, e.g. gazebo_costmap.launch
<node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" output="log" >
  <rosparam file="/opt/ros/kinetic/share/turtlebot_navigation/param/cleverm_static_costmap.yaml" command="load" />
</node> -->


<!-- <node name="pub_map_equal_odom" pkg="ramp_planner" type="pub_map_odom" /> -->


<!-- Trajectory Generator -->
<node name="trajectory_generator" pkg="trajectory_generator" type="trajectory_generator" output="log" />

<!-- Path Modification -->
<node name="path_modification" pkg="path_modification" type="path_modification" output="log" />

<!-- Evaluation -->
<node name="trajectory_evaluation" pkg="trajectory_evaluation" type="trajectory_evaluation" output="log" />

<!-- Sensing -->
<node name="ramp_sensing" pkg="ramp_sensing" type="ramp_sensing" output="screen" />

<!-- Reset odometry -->
<node name="reset_odom" pkg="ramp_control" type="reset_odom.py" output="log" />

<!-- Control node -->
<node name="ramp_control" pkg="ramp_control" type="ramp_control" output="log" >
  <remap from="odometry" to="odom" />
  <remap from="cmd_vel" to="mobile_base/commands/velocity" />
  <param name="simulation" value="true" />
</node>

<!-- Planner -->
<node name="ramp_planner" pkg="ramp_planner" type="ramp_planner" output="log" />


<!-- Move obstacles -->
<node name="move_obstacles" pkg="ramp_planner" type="move_gazebo_obs" output="log" />



</launch>
