<launch>

<!-- LOAD PARAMETERS -->

<!-- <param name="use_sim_time" value="False"/> -->

<!-- Load the planner's config.yaml file and robot_0.yaml file -->
<include file="$(find ramp_launch)/launch/planner_parameters.launch" />


<!-- START NODES -->

<!-- Costmap -->
<node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" output="log" >
  <rosparam file="$(find ramp_launch)/launch/costmap_param/my_rolling_costmap.yaml" command="load" />
</node>
<include file="$(find laser_filters)/launch/range_filter.launch" />


<!-- Reset odometry -->
<node name="reset_odom" pkg="ramp_control" type="reset_odom.py" output="log" />


<!-- Trajectory Generator -->
<node name="trajectory_generator" pkg="trajectory_generator" type="trajectory_generator" output="log" />

<!-- Path Modification -->
<node name="path_modification" pkg="path_modification" type="path_modification" />

<!-- Evaluation -->
<node name="trajectory_evaluation" pkg="trajectory_evaluation" type="trajectory_evaluation" output="log" />

<!-- Sensing -->
<node name="ramp_sensing" pkg="ramp_sensing" type="ramp_sensing" output="screen" />

<!-- Planner -->
<node name="ramp_planner" pkg="ramp_planner" type="ramp_planner" output="screen" />


<!-- Obstacle node -->
<node name="obstacle_twist" pkg="ramp_planner" type="obstacle_twist_all" output="screen" />

</launch>
