<launch>


<!-- Trajectory Generator -->
<node name="reflexxes" pkg="reflexxes" type="reflexxes" />

<!-- Path Modification -->
<node name="path_modification" pkg="path_modification" type="path_modification" />

<!-- Evaluation -->
<node name="trajectory_evaluation" pkg="trajectory_evaluation" type="trajectory_evaluation" output="screen" />

<!-- Trajectory Visualization -->
<!-- <node name="trajectory_visualisation" pkg="trajectory_visualisation" type="trajectory_visualisation" output="screen" /> -->


<!-- Planner -->
<!-- <group ns="robot2"> --> 
<node name="ramp_planner" pkg="ramp_planner" type="ramp_planner" output="screen" />
  <!-- <rosparam command="load" file="yaml/robot2.yaml" /> -->
<!-- </group> -->


<!-- Simulation -->
<node name="stageros" pkg="stage_ros" type="stageros" args="/home/sterlingm/catkin_workspace/src/ramp/ramp_launch/launch/world/single_robot.world" />
<node name="simulation" pkg="ramp_control" type="simulation" output="screen"/>

</launch>
