<launch>

<!-- LOAD PARAMETERS -->

<!-- <param name="use_sim_time" value="False"/> -->

<!-- Load the planner's config.yaml file and robot_0.yaml file -->
<include file="$(find ramp_launch)/launch/planner_parameters.launch" />


<!-- START NODES -->

<!-- Costmap
<node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" output="log" >
  <rosparam file="/opt/ros/kinetic/share/turtlebot_navigation/param/cleverm_static_costmap.yaml" command="load" />
</node> -->




<!-- Trajectory Generator -->
<node name="trajectory_generator" pkg="trajectory_generator" type="trajectory_generator" output="log" />

<!-- Path Modification -->
<node name="path_modification" pkg="path_modification" type="path_modification" />

<!-- Evaluation -->
<node name="trajectory_evaluation" pkg="trajectory_evaluation" type="trajectory_evaluation" output="screen" />

<!-- Trajectory Visualization -->
<!-- <node name="trajectory_visualisation" pkg="trajectory_visualisation" type="trajectory_visualisation" /> -->

<!-- Sensing -->
<node name="ramp_sensing" pkg="ramp_sensing" type="ramp_sensing" output="log" />

<!-- Planner -->
<node name="ramp_planner" pkg="ramp_planner" type="ramp_planner" output="screen" />



</launch>
