<launch>



<arg name="robot1_name" value="robot1" />
<arg name="robot2_name" value="robot2" />



<!-- Define the machines -->

<machine name="robot1" address="192.168.1.104" env-loader="/opt/ros/groovy/env.sh" user="corobotclassic" /> 
<machine name="robot2" address="192.168.1.100" env-loader="/opt/ros/groovy/env.sh" user="corobotclassic" />




<!-- Trajectory Generator -->
<node name="trajectory_generator" pkg="trajectory_generator" type="trajectory_generator" />

<!-- Path Modification -->
<node name="path_modification" pkg="path_modification" type="path_modification" />


<!-- Trajectory Visualization -->
<node name="trajectory_visualisation" pkg="trajectory_visualisation" type="trajectory_visualisation" output="screen" /> 



<!-- Planners -->


<!-- We need 2 planners, one for the first robot and one for the second robot -->
<group ns="$(arg robot1_name)">
  <node name="ramp_planner" pkg="ramp_planner" type="ramp_planner" output="screen" >
    <param name="robot_update" type="str" value="/$(arg robot1_name)/update" />
  </node>
</group> 

<group ns="$(arg robot2_name)"> 
  <node name="ramp_planner" pkg="ramp_planner" type="ramp_planner"> 
    <param name="robot_update" type="str" value="/$(arg robot2_name)/update" /> 
  </node>
</group> 



<!-- Sensing nodes -->

<group ns="$(arg robot1_name)"> 
  <node name="sensing" pkg="sensing" type="sensing" output="screen"> 
    <param name="other_robot_odom" type="str" value="/$(arg robot2_name)/odometry" />  
  </node> 
</group> 

<group ns="$(arg robot2_name)"> 
   <node name="sensing" pkg="sensing" type="sensing" output="screen">  
     <param name="other_robot_odom" type="str" value="/$(arg robot1_name)/odometry" /> 
   </node> 
</group> 



<!-- Evaluation -->

<group ns="$(arg robot1_name)">
  <node name="evaluation" pkg="evaluation" type="evaluation" output="screen">
    <param name="robot_id" type="int" value="1" />
  </node>
</group> 

<group ns="$(arg robot2_name)">
  <node name="evaluation" pkg="evaluation" type="evaluation" output="screen"> 
    <param name="robot_id" type="int" value="2" />
  </node>
</group> 






<!-- Start the robot nodes -->

<group ns="$(arg robot1_name)" >
  <node name="robot" pkg="robot" type="robot" machine="robot1"/> 
</group> 


<group ns="$(arg robot2_name)"> 
  <node name="robot" pkg="robot" type="robot" machine="robot2" /> 
</group> 




<include file="$(find ramp_launch)/launch/launch_include/general.launch" />
<include file="$(find ramp_launch)/launch/launch_include/phidget_sensors.launch" /> 
<include file="$(find ramp_launch)/launch/launch_include/motors.launch" />



</launch>
