<launch>



<arg name="robot_0_name" value="robot_0" />
<arg name="robot_1_name" value="robot_1" />




<!-- Trajectory Generator -->
<node name="trajectory_generator" pkg="trajectory_generator" type="trajectory_generator" output="screen" />

<!-- Path Modification -->
<node name="path_modification" pkg="path_modification" type="path_modification" />


<!-- Trajectory Visualization -->
<node name="trajectory_visualisation" pkg="trajectory_visualisation" type="trajectory_visualisation" /> 



<!-- Planners -->


<!-- We need 2 planners, one for the first robot and one for the second robot -->
<group ns="$(arg robot_0_name)">
  <node name="ramp_planner" pkg="ramp_planner" type="ramp_planner" output="screen" >
    <param name="robot_update" type="str" value="/$(arg robot_0_name)/update" />
  </node>
</group> 

<group ns="$(arg robot_1_name)"> 
  <node name="ramp_planner" pkg="ramp_planner" type="ramp_planner" > 
    <param name="robot_update" type="str" value="/$(arg robot_1_name)/update" /> 
  </node>
</group> 



<!-- Sensing nodes -->

<group ns="$(arg robot_0_name)"> 
  <node name="ramp_sensing" pkg="ramp_sensing" type="ramp_sensing" output="screen"> 
    <param name="other_robot_odom" type="str" value="/$(arg robot_1_name)/odom" />  
  </node> 
</group> 

<group ns="$(arg robot_1_name)"> 
   <node name="ramp_sensing" pkg="ramp_sensing" type="ramp_sensing" output="screen">  
     <param name="other_robot_odom" type="str" value="/$(arg robot_0_name)/odom" /> 
   </node> 
</group> 



<!-- Evaluation -->

<group ns="$(arg robot_0_name)">
  <node name="trajectory_evaluation" pkg="trajectory_evaluation" type="trajectory_evaluation" output="screen">
    <param name="robot_id" type="int" value="0" />
  </node>
</group> 

<group ns="$(arg robot_1_name)">
  <node name="trajectory_evaluation" pkg="trajectory_evaluation" type="trajectory_evaluation" output="screen"> 
    <param name="robot_id" type="int" value="1" />
  </node>
</group> 






<!-- Start the ramp_control simulation nodes (locally, not on remote machines) -->

<group ns="$(arg robot_0_name)" >
  <node name="ramp_control" pkg="ramp_control" type="ramp_control" output="screen" /> 
    <remap from="odometry" to="odom" />
    <param name="orientation" type="double" value="3.14159" />
    <param name="simulation" value="true" />
</group> 


<group ns="$(arg robot_1_name)"> 
  <node name="ramp_control" pkg="ramp_control" type="ramp_control" /> 
    <remap from="odometry" to="odom" />
    <param name="orientation" type="double" value="0" />
    <param name="simulation" value="true" />
</group> 


<!-- Simulation -->
<node name="stageros" pkg="stage_ros" type="stageros" args="/home/sterlingm/ros_workspace/src/ramp/ramp_launch/launch/world/test1.world" />

</launch>
